 * {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg-background: #121212;
}


.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color: #000;
}



.container main {
    width: 80px;
    height: 80px;
    background-color: yellow;
}

a {
    text-decoration: none;
    color: #aaa;
    transition: color 0.2s ease-in;
}

a:hover {
    color: #fff;
}

main {
    flex: 3;
}


.menu_1 {
    width: 337px;
    height: 151px;
    background-color: var(--bg-background);
    color: #fff;
    border-radius: 7px;
    margin-top: 7px;
    margin-left: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 0;
}

.menu_1 li {
    list-style-type: none;
    /* margin: 10px; */
    padding: 12px;
    font-size: 17px;
}

.menu_1 ul li i {
    color: #fff;
    margin-right: 18px;
}
.li_white li{
    color: #aaa;
}


main {
    margin-left: 50px;
}

.menu_1 .biblioteca {
    width: 337px;
    background-color: var(--bg-background);
    border-radius: 7px;
    margin-top: 10px;
}

.plus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #aaa;
    transition: color 0.2s ease-in;
}

.plus:hover {
    cursor: pointer;
    color: #fff;
}

.criar_playlist {
    display: flex;
    width: 314px;
    height: 135px;
    background-color: #242424;
    border-radius: 7px;
    margin-top: 10px;
}