 * {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg-background: #121212;
}


.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color: #000;
}


a {
    text-decoration: none;
    color: #aaa;
    transition: color 0.2s ease-in;
}

a:hover {
    color: #fff;
}

.menu_1 {
    width: 337px;
    height: 151px;
    background-color: var(--bg-background);
    color: #fff;
    border-radius: 7px;
    margin-top: 7px;
    margin-left: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 0;
}

.menu_1 li {
    list-style-type: none;
    /* margin: 10px; */
    padding: 12px;
    font-size: 17px;
}

.menu_1 ul li i {
    color: #fff;
    margin-right: 18px;
}
.li_white li{
    color: #aaa;
}


main {
    margin-left: 50px;
}

.menu_1 .biblioteca {
    width: 337px;
    background-color: var(--bg-background);
    border-radius: 7px;
    margin-top: 10px;
}

.plus {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    color: #aaa;
    transition: color 0.2s ease-in;
}

.plus:hover {
    cursor: pointer;
    color: #fff;
}

.fa-plus {
    margin-left: 80px;
}

.biblioteca .criar_playlist {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    width: 318px;
    height: 155px;
    background-color: #242424;
    border-radius: 7px;
    margin-top: 10px;
    margin: auto;
}

.criar_playlist p{
    margin-left: 25px;
    font-weight: bold;
    font-size: 17px;
}

.criar_playlist h4{
    margin-left: 25px;
    font-size: 14px;
}

.criar_playlist button{
    width: 115px;
    height: 35px;
    margin-left: 25px;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    border: 0;
}

.criar_playlist button:hover {
    width: 116px;
    height: 37px;
}

.biblioteca .podcast {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    width: 318px;
    height: 145px;
    background-color: #242424;
    border-radius: 7px;
    margin: auto;
}

.podcast p{
    margin-left: 25px;
    font-weight: bold;
    font-size: 17px;
}

.podcast h4{
    margin-left: 25px;
    font-size: 14px;
}

.podcast button{
    width: 142px;
    height: 35px;
    margin-left: 25px;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-size: 12px;
}

.podcast button:hover {
    width: 145px;
    height: 37px;
    border: 0;
}

.final {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    width: 318px;
    height: 110px;
    border-radius: 7px;
    margin: 20px;
}

.final a {
    font-size: 10px;
}

.final button{
    width: 172px;
    height: 33px;
    border-radius: 20px;
    background-color: #121212;
    color: #fff;
    border: 1px solid #fff;
    margin-top: 36px;
    font-size: 14px;
    font-weight: bold;
}

.final button i {
    margin: 5px;
}

.final button:hover {
    width: 176px;
    height: 35px;
}

main {
    /* flex: 1; */
    margin: 10px;
}

main {
    width: 1174px;
    height: 680px;
    background-color: #fff;
    border-radius: 7px;
}

header {
    display: flex;
    color: #fff;
    width: 1174px;
    height: 64px;
    background-color:#101010;
}

.left_right {
    width: 40px;
    background-color: yellow;
    flex: 2;
}

header .left_right button{
    margin: 13px;
}


header nav {
    flex: 1;
}



