* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg-background: #121212;
}

body {
    background-color: var(--bg-background);
    /* color: #fff; */
}

#container_left {
    width: 352px;
    height: 837px;
    display: flex;
    background-color: #f00;
}


.menu {
    width: 348px;
    height: 151px;
    background-color: #fff;
}

.menu ul li img {
    width: 36px;
}

.menu li {
    list-style-type: none;
    margin: 10px;
}